@import url('https://fonts.googleapis.com/css?family=Lobster|Acme');
$COLOR_BASE: #E37171;
*{
  margin:0;padding:0;box-sizing: border-box;transition:1s all;
}


body{
  background: black;
  color:white;
}

#app{

  width: 100%;

}

.cambiarFondo{ opacity:0;
  width: 140px;
  background: #fff;
  height: 190px;
  border:6px solid $COLOR_BASE;
  padding: 10px;
  & span,& div{
    width: 50px;
    height: 50px;
    display: inline-block;
    border-radius: 50%;
    background: black;
    border:4px solid rgba(grey,.5);
    &.black{
      background: black;
    }
    &.violet{
      background: violet;
    }
    &.blue{
      background: blue;
    }
    &.white{
      background: white;
    }
    &.brown{
      background: brown;
    }
    &.green{
      background: green;
    }

  }
}

.tag{

  color:black;
  padding:15px;
  //min-width: 500px;
  //height: 100px;
  position: absolute;
  top:0px;
  right: 0px;
  background: grey;
  display: flex;
  justify-content: center;
  align-items: center;

  text-align: center;
  //border-radius: 50%;
  border:5px solid #E37171;
  border-left:0;
  border-right:0;
  //box-shadow: -2px -2px 0px 2px rgba(#fff,.8) inset;
  //transform: rotate(45deg) translate(30%,-50%);
  &__text{
    color:black;
    font-family: 'Acme', sans-serif;
    text-shadow: 1px 1px #E37171;
    font-size: 50px;
    font-family: 'Acme', sans-serif;
  }
}

.contenedor{

  height: 100vh;
  width: 100%;
  position: absolute;
  top:0;

}



.post{
  position: relative; opacity: 0;
  background: linear-gradient(
    to right bottom,
    grey 40%,
    #ADAAAA 50%
  );
  width: 600px;
  padding: 0 35px 35px;
  border-radius: 0 0 20px 20px;
  margin:0px auto;
  top:50%;
  transform: translate(0,-60%);
  border-bottom:10px solid #E37171;

  &__text{
    font-size:40px;
    text-align: center;
    padding:20px;
    color:black;
    font-family: 'Acme', sans-serif;
    text-shadow: 1px 1px #E37171;
  }

  &__user{
    transform: translate(-35px);
    width: 600px;
    display: inline-block;
    position: relative;
    background: rgba(#E37171,.8);
    padding:10px 10px 10px 110px;
    font-family: 'Lobster', cursive;
    color:black;
    &-name{
      font-size: 35px;
    }
    &-username{
      font-size: 25px;
    }

    &-img{
      width: 130px;
      border-radius: 50%;
      border:5px solid white;
      position: absolute;
      left:0;top:0;
      transform: translate(-50%,-18%);

    }
  }

  &__img{
    width: 100%;
    border:5px solid #555;
  }
}
.mostrar{
  opacity: 1;
  transform: translate(0,-50%);
}
